// Colors
$white: #fff;
$black: #000;

$paragraph : #404040;

$blue: #1e84ff;
$blue-text: #0157BA;

$blue-gr-t: rgba(0,88,182,1);
$blue-gr-b: rgba(0,72,145,1);

$yellow-bg: #FFFC00;
$yellow-text: #FFFC00;

$orange: #FF6600;
$orange-gr-t: rgba(254,122,0,1);
$orange-gr-b: rgba(254,100,0,1);
$orange-border: #FF7100;
$orange-active: #FF7B00;

$sky : #EAF7FF;

$link: #0084FF;
